{% extends 'base.html' %}
{% block content %}
  <div class="mb-2 small">
    {% if order == 'hot' %}
      <span>
      <a href="{% url 'index' %}?o=new{% if query %}&q={{ query }}{% endif %}" class="btn btn-info">NEW</a>
      </span> |
      <span>
      <b>TOP</b>
      </span>
    {% else %}
      <span>
      <b>NEW</b>
    </span> |
      <span>
      <a href="{% url 'index' %}?o=hot{% if query %}&q={{ query }}{% endif %}" class="btn btn-info">TOP</a>
    </span>
    {% endif %}
  </div>
  {% for object in page_obj %}
    <div class="row">
      <div class="col-1 small text-center">
        <div>{{ object.rating }}</div>
        <div class="small">RATING</div>
      </div>
      <div class="col-1 small text-center">
        <div>{{ object.answers.count }}</div>
        <div class="small">ANSWERS</div>
      </div>
      <div class="col ml-4">
        <div>
          <a href="{% url 'question_detail' object.pk %}">{{ object.title }}</a>
        </div>
        <div>
          <div class="small clearfix">
            <div class="float-start">
              {% if object.tags.exists %}
                <div>
                  {% for tag in object.tags.all %}
                    <span class="small ">
                      <a href="{% url 'index' %}?q=tag:{{ tag }}{% if order %}&o={{ order }}{% endif %}">{{ tag }}</a>
                    </span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="text-end small">
              <div>

                <a href="{% url 'index' %}?q=author:{{ object.author.username }}{% if order %}&o={{ order }}{% endif %}"
                >{{ object.author }}
                </a>
              </div>
              <div class="small">{{ object.created_at|timesince }} AGO</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  {% endfor %}
  {% include 'pager_inc.html' %}
{% endblock %}